{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>Twitter media</h1>

    <section class="py-3">
      <h2>User tweets</h2>

      {{ form_start(userForm) }}

      <turbo-frame id="userForm">
        {{ form_row(userForm.username) }}
      </turbo-frame>
      <div>
        <button class="btn btn-primary">Submit</button>
      </div>

      {{ form_end(userForm) }}
    </section>

    <section class="py-3">
      <h2>Tweets ids</h2>

      {{ form_start(idsForm) }}

      <turbo-frame id="idsForm">
        {{ form_row(idsForm.ids) }}
      </turbo-frame>
      <div>
        <button class="btn btn-primary">Submit</button>
      </div>

      {{ form_end(idsForm) }}
    </section>
  </div>
{% endblock %}
