{% set isDl = downloadUrl is null %}
<turbo-frame id="image-{{ media.media_key }}">
  <div class="mb-1" {{ stimulus_controller('media') }}>
    <img
      src="{{ media.url }}"
      class="img-fluid mb-2 rounded border-dark border-3 {% if isDl %}opacity-50{% endif %}"
      alt="image {{ media.media_key }}"
      {% if not isDl %}
        {{ stimulus_action('media', 'download', 'dblclick') }}
      {% endif %}
    />
    <div class="text-end">
      {% if downloadUrl %}
        <a href="{{ downloadUrl }}"
           class="btn btn-sm btn-primary"
           {{ stimulus_target('media', 'download') }}
        >
          <i class="fas fa-download"></i>
          <span class="sr-only">Download</span>
        </a>
      {% else %}
        <span class="text-success">
          <i class="fas fa-check"></i>
          <span class="sr-only">Downloaded</span>
        </span>
      {% endif %}
    </div>
    {% if error is defined and error %}
      <div class="alert alert-danger" role="alert">
        {{ error }}
      </div>
    {% endif %}
  </div>
</turbo-frame>
